        body {
            background-color: bisque;
        }
        hr {
            background-color: white;
            border-style: none;
            height: 1px;
        }
        
        h1 {
            text-align:center
        }
        
        p {
            text-align:center
        }
        
        div {
            text-align:center
        }