        body {
            background-color: bisque;
            animation: fadebackground 10s;
        }

          @keyframes fadebackground {
            from {background-color: black;}
            to {background-color: bisque;}
          }

        hr {
            background-color: white;
            border-style: none;
            height: 1px;
        }
        
        h1 {
            text-align:center
        }
        
        p {
            text-align:center
        }
        
        .top {
            text-align:center
        }
        .small_links {     
            margin:0 auto;
            width: 50%;
            max-width: 550px;
            text-align:center;
            border: solid 2px;
            border-color: white;
            border-radius: 10px;
        }
        .big_links {
            margin:0 auto;
            width: 30%;
            text-align:center;
            border: solid 2px;
            border-color: white;
            max-width: 150px;
            border-radius: 10px;
        }

        .ya {
            margin-left: auto;
            margin-right: auto;  
        }

        .boi {
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 800px) {
            .boi {
                width: 80%;
            }
            .ya {
                width: 80%;
            }
        }

        table { 
        width: 100%; 
        text-align:center;
        border-collapse: separate; 
        border-spacing: 5px 15px;
        }

        th, td {
            border: none;
            border-radius: 10px;
          }

        .hmu {
            list-style-type:none;
            text-align:center;
        }
        /* unvisited link */
        a:link {
        color: black;
        }
  
         /* visited link */
        a:visited {
        color:teal;
        }
  
        /* mouse over link */
        a:hover {
        color: hotpink;
        }
  
        /* selected link */
        a:active {
        color: white;
        }

